{% extends "layout.html" %}
<head>
{% if title %}
    {{title}}
{% else %}
    {% block title %}REGISTRATION{% endblock title %}
{% endif %}
{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='register.css')}}">
{% endblock header %}
</head>

<body>
    {% block content %}
    <div class="register">
    <h2> FILL THE FORM BELOW ACCURATELY </h2>
    <form method="post", action="">
        {{form.hidden_tag()}}
    </div>

        
    <br>
        <div>
            {{form.first_name.label}}
            {{form.first_name}}
        </div>
    <br>  

    <br>
        <div>
            {{form.last_name.label}}
            {{form.last_name}}
        </div>
    <br>

    <br>
        <div>
            {{form.reg_no.label}}
            {{form.reg_no}}
        </div>
    <br>    

    <br>
        <div>
            {{form.department.label}}
            {{form.department}}
        </div>
    <br>

    <br>
        <div>
            {{form.faculty.label}}
            {{form.faculty}}
        </div>
    <br>    

    <br>
        <div>
            {{form.email.label}}
            {{form.email}}
        </div>
    <br>    
    


    <div class = button>
        {{form.submit}}
    </div>
    <br>
    <div class = button>
        {{form.reset}}
    </div>

        
            </form>
</div>
    {% endblock content %}
</body>