{% extends "layout.html" %}"
{% if title %}
	{{tile}}
{% else %}
    {% block title %}LOGIN{% endblock title %}
{% endif %}

<head>
    {% block header %}
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    {% endblock header %}
</head>

<body> 
	{%block content%}
	<div class="wrapper">
		<img class="img-mylogo" img src="{{ url_for('static', filename='img/my_logo.png') }}" alt="My Logo">
		
		<div class="img-mylogo"></div>
	</div>
	<br>
	<div class="login">
		<form method="POST", action="/login">
		{{form.hidden_tag()}}
		{{form.reg_no.label}}	
		{{form.reg_no}}
	</div>

	<button>LOGIN</button>
	<button><a href="{{ url_for('register') }}">SIGN UP</a></button>
	
</a>
{%endblock content%}
</body>
</html>
