<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<style>
  body {
    background-color: rgb(185, 185, 211);
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  input[type="text"] {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  button {
    background-color: #3b7abd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
  }
</style>
</head>6
<body> 
    <div class="wrapper">
    <img class="img-mylogo" src = {{url_for ("static", filename = "my_logo.png", alt ="logo") }}>
    <div class="img-mylogo"></div>
    </div>
    <h1> REG. NUMBER</h1>
    <link rel="stylesheet" href="Style.css">
  <input type="text"  placeholder="I.E 123456AB">
  <button>LOGIN</button>
  <a href="signup form.html">
  <button>SIGN UP</button>

  
</a>
</body>
</html>
