<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% block header %}
    {% endblock header %}
</head>
<body>
    {% with message= get_flashed_messages()%}
    {% if message %}
        <div class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </div> 
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock content %}
</body>
</html>